<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    </head>
    <header>
        <script src="./script.js" async></script>
    </header>
    <body>
        <h4>Add a Caption</h4>
        <table class="table" id="apiTable">
            <tr>

            </tr>
        </table>
        <h4>table below</h4>
        <table class="table" id="apiTable2">
            <tr>

            </tr>
        </table>
    </body>

</html>

